@model crudappwithwebapiwithimages.Models.Info

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form action="" method="post" enctype="multipart/form-data">
    Name: 
    <input type="text" name="name" value="" /><br />
    Contact: 
    <input type="text" name="Contact" value="" /><br />
    Email: 
    <input type="text" name="Email" value="" /><br />
    Files: 
    <input type="file" name="file" value="" /><br />
    <input type="submit"  value="Add" /><br />


</form>