@model WebApplication3.Models.Order_product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form action="" method="post" enctype="multipart/form-data">
    <label> Name</label>
    <input type="text" name="name" value="" /> <br />
    <label> Images</label>
    <input type="file" name="img" value="" />  <br />

    <label> Product</label>
    <select name="prodi">
        @foreach (var i in Model.GetProducts)
        {
            <option value="@i.ID">@i.Name</option>
        }

    </select>  <br />
    <input type="submit" value="Submit" />

</form>
