
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/JavaScript.js"></script>
<h2>Index</h2>
<input type="button" name="name" value="Get All Data" id="btn1" />
<input type="button" name="name" value="Get Data by id" id="btn2" />
<br />
<div id="Showdata"></div>
<script>
    $(document).ready(function () {
        $("btn1").click(function () {
            $.getJSON('api/EmployeesData', function (responseData) {
                $.each(responseData, function (key, val) {
                    var item = "<h2>" + val + "</h2>";
                    $(item).appendTo("#Showdata");
                });
            });

        });
    });

</script>