@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cat_Starus</th>
            <th>Cat_Images</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.list)
        {
            <tr>
                <td> @item.C_Name</td>
                <td> @item.Cat_Starus</td>
                <td> @item.Cat_Images</td>
                
            </tr>
        }
    </tbody>
</table>